@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Singleton Pattern Tutorial</h1>
    <p>
        Welcome to <strong>BankingSystem</strong>, a tutorial project designed to illustrate
        how to implement the <em>Singleton design pattern</em> in ASP.NET Core.
    </p>
    <p>
        To learn more about the Singleton pattern in C#, feel free to check out my article:
        <a href="https://github.com/Yacine-Dev-DotNet/singleton-csharp" target="_blank">
            Singleton in C# explained
        </a>.
    </p>
    <p>
        To explore a console-based application that uses the Singleton pattern, visit:
        <a href="https://github.com/Yacine-Dev-DotNet/MySingletonExchangeApp" target="_blank">
            MySingletonExchangeApp
        </a>.
    </p>
</div>
